.head{
    /* height: 100px; */
    width: 100%;
    color: rgb(17, 17, 16);
    background-color: rgb(228, 255, 188);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    padding: 10px;
    justify-content: space-between;
    display: flex;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.icon{
    margin-right: 10px;
}
.logo{
    height:80px;
    width:80px;
}
.title{
    align-items: center;
    text-align: center;
    /* width:50%; */
    display: flex;
    flex-wrap: wrap;
}
@font-face {
    font-family: 'CustomFont';
    src: url('../font/Plantsletters-LO2Z.ttf') format('truetype');
}

.name{
    font-family: 'CustomFont';
    font-size:50px;
    color:rgb(53, 81, 10);
}